body {
    font-family: sans-serif;
    margin: 10px;
    border: 0px;
    padding: 0px;
}
head {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

header {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

ul {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

h2 {
    font-weight: bold;
}

h4 {
    color: rgb(109, 109, 109);
    font-weight: bold;
    margin-bottom: -15px;
}

li {
    margin-right: 10px;
    display: inline;
    vertical-align: middle;
}

.breadcrumb {
    margin-top: 20px;
}

.breadcrumb li a{
    font-weight: normal;
    font-size: 15px;
}

.breadcrumb li + li a{
    padding: 12px;
}

.breadcrumb li + li:before {
    content: "/";
}

a{
    font-size: 15px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
text-decoration: underline;
}

.first { 
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product {
    width: 300px;
    box-sizing: border-box;
    margin: 5px;
    padding: 10px;
    border: 2px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    display: inline-block;
}

section img {
    margin-bottom: 10px;
    min-width: 100%;

}

.title {
    font-size: 20px;
}