body {
    background-color: white;
    text-align: center;
}

section {
    background-image: url('Bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-weight: bold;
    padding: 10%;
    margin: 0%;
}

header {
    text-align: center;
    margin: -30px 0px;
}

form {
    margin: -30px 15%;
    padding: 5%;
    background-color: rgb(255, 228, 196, .9);
    text-align: center;
}

section form div {
    margin: 10px;
    padding: 5px;
}

h1 {
    margin: 0;
}

input {
    margin: 5px;
}